<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServiceGiris.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <WebServiceGiris.Properties.Settings>
            <setting name="WebServiceGiris_ServiceReference_ProductWebService"
                serializeAs="String">
                <value>http://localhost:50101/ProductWebService.asmx</value>
            </setting>
            <setting name="WebServiceGiris_tcknWebReference_KPSPublic" serializeAs="String">
                <value>https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx</value>
            </setting>
        </WebServiceGiris.Properties.Settings>
    </applicationSettings>
</configuration>